.work-directions__card-title {
  font-weight: 700;
  font-size: 34px;
  line-height: 120%;
  color: #333333;
  margin: 0;
  padding: 0 0 20px 0;
  grid-area: title;
}

@media screen and (max-width: 768px) {
  .work-directions__card-title {
    font-size: 26px;
    padding-bottom: 10px;
  }

}

@media screen and (max-width: 500px) {
  .work-directions__card-title {
    font-size: 22px;
  }

}

@media screen and (max-width: 320px) {
  .work-directions__card-title {
    font-size: 18px;
  }

}