.footer__support-logos {
  padding-top: 20px;
  display: flex;
  column-gap: 50px;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .footer__support-logos {
    column-gap: 21px;
  }
}