.support__donator-heading {
    font-weight: 700;
    font-size: 34px;
    line-height: 120%;
    text-align: center;
    color: #333;
    margin: 38px auto 74px;
    padding: 0;
    max-width: 488px;
}

@media screen and (max-width: 768px) {
    .support__donator-heading {
        font-size: 26px;
        margin-top: 50px;
        margin-bottom: 32px;
    }
}

@media screen and (max-width: 320px) {
    .support__donator-heading {
        font-size: 18px;
        margin-top: 32px;
        margin-bottom: 36px;
    }
}