.btn-link_violet {
  background-color: #eae6ff;
  color: #8b75ff;
  fill: #8b75ff
}

.btn-link_violet:hover {
  background-color: #8b75ff;
  color: #fff;
  fill: #fff
}

.btn-link_violet:active {
  background-color: #4935b5;
}