.btn-link_violet {
  background: url(../../../images/btn-images/arrow_forward-violet.svg) 87% 50% / 16px 16px no-repeat #eae6ff;
  color: #8b75ff;
}

.btn-link_violet:hover {
  background: url(../../../images/btn-images/arrow_forward-white.svg) 87% 50% / 16px 16px no-repeat #8b75ff;
  color: #fff;
}

.btn-link_violet:active {
  background: url(../../../images/btn-images/arrow_forward-white.svg) 87% 50% / 16px 16px no-repeat #4935b5;
}

@media screen and (max-width: 768px) {
  .btn-link_violet {
    background-size: 13px;
  }

  .btn-link_violet:hover {
    background-size: 13px;
  }

  .btn-link_violet:active {
    background-size: 13px;
  }
}