.support {
    background-color: #E7F0FF;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

@media screen and (max-width: 768px) {
    .support {
        align-items: center;
        margin-top: 56px;
    }
}

@media screen and (max-width: 320px) {
    .support {
        margin-top: 32px;
    }
}