.donate__container {
    align-items: center;
    background-color: #E7F0FF;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 58px 30px;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .donate__container {
        padding: 32px 24px;
    }
}

@media screen and (max-width: 320px) {
    .donate__container {
        flex-direction: column;
        padding: 32px 20px;
    }

    .donate__container .link {
        min-width: 228px;
    }
}