.donate__container {
    align-items: center;
    background-color: #E7F0FF;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    max-height: 164px;
    max-width: 1360px;
    padding: 0 30px;
}

@media screen and (max-width: 768px) {
    .donate__container {
        max-height: 112px;
        max-width: 688px;
    }
}

@media screen and (max-width: 320px) {
    .donate__container {
        max-height: 304px;
        max-width: 300px;
        flex-direction: column;
        box-sizing: border-box;
        padding: 32px 20px;
    }
}