.btn_disabled {
  color: rgba(38, 38, 38, 0.5);
  border: 2px solid #c4c4c4;
  background: #f5f5f5;
}

.btn_disabled:hover {
  color: rgba(38, 38, 38, 0.5);
  border: 2px solid #c4c4c4;
  background: #f5f5f5;
}
