.btn_disabled {
  background: #f5f5f5;
  border: 2px solid #c4c4c4;
  color: rgba(38, 38, 38, 0.5);
  pointer-events: none;
}

.btn_disabled:hover {
  background: #f5f5f5;
  border: 2px solid #c4c4c4;
  color: rgba(38, 38, 38, 0.5);
}