.btn-accordeon_lblue {
  background: url(../../../images/btn-images/Icon_plus.svg) 50% 50% / 17px 17px
    no-repeat #e7f0ff;
}

.btn-accordeon_lblue:hover {
  background: url(../../../images/btn-images/Icon_plus_white.svg) 50% 50% / 17px
    17px no-repeat #0c4ba0;
}

.btn-accordeon_lblue:active {
  background: url(../../../images/btn-images/Icon_plus_x.svg) 50% 50% / 17px
    17px no-repeat #0c4ba0;
}
