.btn-link_white {
  background: url(../../../images/btn-images/arrow_forward-gray.svg) 87% 50% / 16px 16px no-repeat #fff;
  color: #333333;
}

.btn-link_white:hover {
  background-image: url(../../../images/btn-images/arrow_forward-dblue.svg) 87% 50% / 16px 16px no-repeat;
  color: #00275c;
}

.btn-link_white:active {
  background-image: url(../../../images/btn-images/arrow_forward-blue.svg) 87% 50% / 16px 16px no-repeat;
  color: #0c4ba0;
}