.btn-link_white {
  color: #333333;
  background: url(../../../images/btn-images/arrow_forward-gray.svg) 87% 50% / 17px 17px no-repeat #fff;
}

.btn-link_white:hover {
  color: #00275c;
  background-image: url(../../../images/btn-images/arrow_forward-dblue.svg) 87% 50% / 17px 17px no-repeat;
}

.btn-link_white:active {
  color: #0c4ba0;
  background-image: url(../../../images/btn-images/arrow_forward-blue.svg) 87% 50% / 17px 17px no-repeat;
}

@media screen and (max-width: 768px) {
  .btn-link_white {
    background: url(../../../images/btn-images/arrow_forward-gray.svg) 87% 50% / 13px 13px no-repeat #fff;
  }

  .btn-link_white:hover {
    background-image: url(../../../images/btn-images/arrow_forward-dblue.svg) 87% 50% / 13px 13px no-repeat;
  }

  .btn-link_white:active {
    background-image: url(../../../images/btn-images/arrow_forward-blue.svg) 87% 50% / 13px 13px no-repeat;
  }


}