.btn-link_green {
  background: url(../../../images/btn-images/arrow_forward-green.svg) 87% 50% / 16px 16px no-repeat #daefd5;
  color: #319b17;
}

.btn-link_green:hover {
  background: url(../../../images/btn-images/arrow_forward-white.svg) 87% 50% / 16px 16px no-repeat #319b17;
  color: #fff;
}

.btn-link_green:active {
  background: url(../../../images/btn-images/arrow_forward-white.svg) 87% 50% / 16px 16px no-repeat #0e4900;
}