.support__form-payment-type .button {
    margin-right: 18px;
    min-width: 186px;
}

@media screen and (max-width: 320px) {
    .support__form-payment-type {
        margin-top: 16px;

    }

    .support__form-payment-type .button {
        min-width: 260px;
        margin-right: 0;
    }
}