.btn-link_blue {
  color: #0c4ba0;
  background: url(../../../images/btn-images/arrow_forward-blue.svg) 87% 50% /
    17px 17px no-repeat #e7f0ff;
}

.btn-link_blue:hover {
  color: #fff;
  background: url(../../../images/btn-images/arrow_forward-white.svg) 87% 50% /
    17px 17px no-repeat #0c4ba0;
}

.btn-link_blue:active {
  background: url(../../../images/btn-images/arrow_forward-white.svg) 87% 50% /
    17px 17px no-repeat #00275c;
}

@media screen and (max-width: 768px) {
  .btn-link_blue {
    background: url(../../../images/btn-images/arrow_forward-blue.svg) 87% 50% /
      13px 13px no-repeat #e7f0ff;
  }
  
  .btn-link_blue:hover {
    background: url(../../../images/btn-images/arrow_forward-white.svg) 87% 50% /
      13px 13px no-repeat #0c4ba0;
  }
  
  .btn-link_blue:active {
    background: url(../../../images/btn-images/arrow_forward-white.svg) 87% 50% /
      13px 13px no-repeat #00275c;
  }
}


