.btn-link_blue {
  background: url(../../../images/btn-images/arrow_forward-blue.svg) 87% 50% / 16px 16px no-repeat #e7f0ff;
  color: #0c4ba0;
}

.btn-link_blue:hover {
  background: url(../../../images/btn-images/arrow_forward-white.svg) 87% 50% / 16px 16px no-repeat #0c4ba0;
  color: #fff;
}

.btn-link_blue:active {
  background: url(../../../images/btn-images/arrow_forward-white.svg) 87% 50% / 16px 16px no-repeat #00275c;
}

@media screen and (max-width: 768px) {
  .btn-link_blue {
    background-size: 13px;
  }

  .btn-link_blue:hover {
    background-size: 13px;
  }

  .btn-link_blue:active {
    background-size: 13px;
  }
}