.for-whom__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 20px;
  padding: 0 0 100px 0;
  margin: 0 auto;
  width: calc(100% - 80px);
  list-style: none;
}

@media screen and (max-width: 1024px) {
  .for-whom__cards {
    grid-template-columns: 1fr;
    width: calc(100% - 238px)
  }

}

@media screen and (max-width: 767px) {
  .for-whom__cards {
    padding-bottom: 50px;
    gap: 16px;
    width: calc(100% - 20px)
  }
}

@media screen and (max-width: 600px) {
  .for-whom__cards {
    padding-bottom: 32px;
  }
}
