.support__donator-list-wrapper {
    min-width: 488px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .support__donator-list-wrapper {
        min-width: 531px;
    }
}

@media screen and (max-width: 320px) {
    .support__donator-list-wrapper {
        min-width: 300px;
    }
}