.agency__card-list {
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0 40px;
  padding-top: 51px;
  padding-bottom: 50px;
  max-width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  justify-content: center;
  align-items: flex-start;
}

@media screen and (max-width: 768px) {
  .agency__card-list {
    padding-top: 22px;
    padding-bottom: 32px;
  }
}


@media screen and (max-width: 320px) {
  .agency__card-list {
    grid-auto-flow: row;
    row-gap: 30px;
    padding-top: 24px;
    padding-bottom: 24px;
    margin: 0 10px;
  }
}
