.support__form-payment-container {
    display: flex;
}

@media screen and (max-width: 320px) {
    .support__form-payment-container {
        flex-direction: column;
        align-items: center;
    }
}