.button__link_green {
  background-color: #daefd5;
  color: #319B17;
  fill: #319B17
}

.button__link_green:hover {
  background-color: #319b17;
  color: #fff;
  fill: #fff
}

.button__link_green:active {
  background-color: #0e4900;
}