.btn_secondary-gray {
  border: 1px solid #333;
  background-color: #fff;
  color: #333;
}

.btn_secondary-gray:hover {
  border: 2px solid #333;
}

.btn_secondary-gray:active {
  background: #333;
  color: #fff;
}
