.support__wrapper {
    display: flex;
    margin: 50px 0 100px;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .support__wrapper {
        flex-direction: column;
        margin-top: 24px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 320px) {
    .support__wrapper {
        margin-bottom: 32px;
        max-width: 300px;
    }
}