.btn-link_disabled {
  color: rgba(38, 38, 38, 0.5);
  background: url(../../../images/btn-images/arrow_forward-lgray.svg) 87% 50% / 17px 17px no-repeat #c4c4c4;
}

.btn-link_disabled:hover {
  color: #26262680;
  background: url(../../../images/btn-images/arrow_forward-lgray.svg) 87% 50% / 17px 17px no-repeat #c4c4c4;
}


@media screen and (max-width: 768px) {
  .btn-link_disabled {
    background: url(../../../images/btn-images/arrow_forward-lgray.svg) 87% 50% / 13px 13px no-repeat #c4c4c4;
  }

  .btn-link_disabled:hover {
    background: url(../../../images/btn-images/arrow_forward-lgray.svg) 87% 50% / 13px 13px no-repeat #c4c4c4;
  }
}