.for-whom__title {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
  width: calc(100% - 80px)
}

@media screen and (max-width: 768px) {
  .for-whom__title {
    text-align: center;
    padding-bottom: 32px;
    width: calc(100% - 20px)
  }
}

@media screen and (max-width: 320px) {
  .for-whom__title {
    text-align: left;
    padding-top: 32px;
    padding-bottom: 24px;
  }
}