.footer__support-logo:last-child {
  background: url(/images/fund.png) no-repeat;
  width: 100px;
  height: 48px;
  background-size: contain;
  background-position: center;
}

.footer__support-logo:first-child {
  background: url(/images/beeline.png) no-repeat;
  width: 100px;
  height: 52px;
  background-size: contain;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .footer__support-logo:last-child {
    background: url(/images/fund.png) no-repeat;
    width: 88px;
    height: 30px;
    background-size: cover;
    background-position: center;
  }

  .footer__support-logo:first-child {
    background: url(/images/beeline_2.png) no-repeat;
    width: 56px;
    height: 40px;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (max-width: 320px) {
  .footer__support-logo:last-child {
    background: url(/images/fund.png) no-repeat;
    width: 73px;
    height: 25px;
    background-size: cover;
    background-position: center;
  }

  .footer__support-logo:first-child {
    background: url(/images/beeline_2.png) no-repeat;
    width: 47px;
    height: 34px;
    background-size: cover;
    background-position: center;
  }
}