.btn-slider_left {
  background-image: url(../../../images/btn-images/arrow_forward_left.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 16px 16px;
}

.btn-slider_left:hover {
  background: url(../../../images/btn-images/arrow_forward_left.svg) 50% 50% /
    16px 16px no-repeat #4183dc;
}

.btn-slider_left:active {
  background: url(../../../images/btn-images/arrow_forward_left.svg) 50% 50% /
    16px 16px no-repeat #00275c;
}
