.footer__column {
  display: grid;
  grid-template-columns: 45% 55%;
}

@media screen and (max-width: 768px) {
  .footer__column {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 540px) {
  .footer__column {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }
}