.advantages__accordion-button {
  cursor: pointer;
  border-radius: 20px;
  line-height: 0;
  padding: 15px;
  border: none;
  background-color: #E7F0FF;
  stroke: #0C4BA0;
}

.advantages__accordion-button:hover {
  background-color: #0C4BA0;
  stroke: #fff
}

@media screen and (max-width: 768px) {
  .advantages__accordion-button {
    padding: 10px;
  }
}