.btn-link {
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  height: 48px;
  line-height: 120%;
  padding: 12px 35px 12px 10px;
  width: 165px;
}

@media screen and (max-width: 768px) {
  .btn-link {
  font-size: 16px;
  width: 139px;
  height: 44px;
  }
}

@media screen and (max-width: 320px) {
  .btn-link {
    font-size: 14px;
    width: 128px;
    }
}