.btn_secondary {
  border: 1px solid #0c4ba0;
  background-color: #fff;
  color: #0c4ba0;
}

.btn_secondary:hover {
  border: 1px solid #00275c;
  color: #00275c;
}

.btn_secondary:active {
  background: #00275c;
  color: #fff;
}
