.advantages__accordion-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: start;
}

@media screen and (max-width: 1200px) {
  .advantages__accordion-wrapper {
    grid-template-columns: 1fr;
  }
}