.btn_secondary-transparent {
  background-color: transparent;
  border: 1px solid #0c4ba0;
  color: #0c4ba0;
}

.btn_secondary-transparent:hover {
  border: 1px solid #00275c;
  color: #00275c;
}

.btn_secondary-transparent:active {
  background: #00275c;
  color: #fff;
}
