.agency__subheading {
  color: #333333;
  font-feature-settings: 'pnum' on, 'lnum' on;
  font-size: 34px;
  font-weight: 700;
  line-height: 120%;
  margin-block-end: 0;
  margin-block-start: 0;
  max-width: 955px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
}

@media screen and (max-width: 768px) {
  .agency__subheading {
    font-size: 20px;
    padding-top: 15.39px;
  }
}

@media screen and (max-width: 320px) {
  .agency__subheading {
    font-size: 16px;
    padding-top: 10px;
  }
}