.about__image_first-photo {
  top: 0;
  right: 0;
  width: 352px;
  height: 315px;
}

@media screen and (max-width: 1400px) {
  .about__image_first-photo {
    width: 300px;
  }
}

@media screen and (max-width: 1025px) {
  .about__image_first-photo {
    width: 250px;
    height: 225px;
  }
}

@media screen and (max-width: 875px) {
  .about__image_first-photo {
    width: 225px;
    height: 200px;
  }
}

@media screen and (max-width: 768px) {
  .about__image_first-photo {
    width: 184px;
    height: 152px;
  }
}

@media screen and (max-width: 600px) {
  .about__image_first-photo {
    width: 150px;
    height: 125px;
  }
}

@media screen and (max-width: 540px) {
  .about__image_first-photo {
    width: 170px;
    height: 160px;
    top: 236px;
    right: 40px;
  }
}

@media screen and (max-width: 425px) {
  .about__image_first-photo {
    width: 140px;
    height: 130px;
    top: 236px;
    right: 40px;
  }
}

@media screen and (max-width: 365px) {
  .about__image_first-photo {
    width: 120px;
    height: 110px;
    top: 236px;
    right: 40px;
  }
}

@media screen and (max-width: 320px) {
  .about__image_first-photo {
    width: 190px;
    height: 144px;
    top: 246px;
    right: 10px;
  }
}