.accordion__title {
  margin: 0;
  font-size: 34px;
  line-height: 120%;
  color: #333;
  padding-right: 20px;
}

@media screen and (max-width: 768px) {
  .accordion__title {
    font-size: 26px;
  }
}

@media screen and (max-width: 500px) {
  .accordion__title {
    font-size: 21px;
  }
}

@media screen and (max-width: 320px) {
  .accordion__title {
    font-size: 18px;
  }
}