.agency__button {
  align-self: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #0C4BA0;
  width: 204px;
  height: 48px;
  border: 1px solid #0C4BA0;
  border-radius: 10px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .agency__button {
    width: 200px;
    height: 44px;
  }
}


@media screen and (max-width: 320px) {
  .agency__button {
    width: 300px;
  }
}
