.advantages__accordion-header {
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .advantages__accordion-header {
    padding: 20px;
  }
}

@media screen and (max-width: 320px) {
  .advantages__accordion-header {
    padding: 18px 16px;
  }
}