.about {
  position: relative;
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .about {
    margin-top: 56px;
  }
}

@media screen and (max-width: 320px) {
  .about {
    margin-top: 50px;
  }
}