.for-whom__button {
  grid-area: button;
  display: flex;
  width: 165px;
  height: 48px;
  border-radius: 10px;
}

@media screen and (max-width:1024px) {
  .for-whom__button {
    height: 44px;
  }
}

@media screen and (max-width:600px) {
  .for-whom__button {
    height: 44px;
  }
}