.support__form-payment-wrapper {
    display: flex;
    list-style: none;
    scroll-behavior: smooth;
    padding: 0;
    overflow: hidden;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    overflow-x: auto;
}

.support__form-payment-wrapper::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 320px) {
    .support__form-payment-wrapper {
        flex-direction: column;
        margin-top: 0;
        max-height: 190px;
    }
}