.donate__button-list {
    display: grid;
    grid-column-gap: 40px;
    grid-template-columns: repeat(5, 1fr);
    list-style: none;
    margin-right: 90px;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .donate__button-list {
        grid-column-gap: 10px;
        margin-right: 22px;
    }
}


@media screen and (max-width: 320px) {
    .donate__button-list {
        gap: 16px;
        grid-template-columns: 122px 122px;
        margin: 0 0 32px;
    }
}