.btn-link_orange {
  color: #e98509;
  background: url(../../../images/btn-images/arrow_forward-orange.svg) 87% 50% / 17px 17px no-repeat #feefea;
}

.btn-link_orange:hover {
  color: #fff;
  background: url(../../../images/btn-images/arrow_forward-white.svg) 87% 50% / 17px 17px no-repeat#e98509;
}

.btn-link_orange:active {
  background: url(../../../images/btn-images/arrow_forward-white.svg) 87% 50% / 17px 17px no-repeat #864a00;
}

@media screen and (max-width: 768px) {
  .btn-link_orange {
    background: url(../../../images/btn-images/arrow_forward-orange.svg) 87% 50% / 13px 13px no-repeat #feefea;
  }

  .btn-link_orange:hover {
    background: url(../../../images/btn-images/arrow_forward-white.svg) 87% 50% / 13px 13px no-repeat#e98509;
  }

  .btn-link_orange:active {
    background: url(../../../images/btn-images/arrow_forward-white.svg) 87% 50% / 13px 13px no-repeat #864a00;
  }

}