.btn-slider_right {
  background-image: url(../../../images/btn-images/arrow_forward-white.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}

.btn-slider_right:hover {
  background: url(../../../images/btn-images/arrow_forward-white.svg) 50% 50% / 16px 16px no-repeat #4183dc;
}

.btn-slider_right:active {
  background: url(../../../images/btn-images/arrow_forward-white.svg) 50% 50% / 16px 16px no-repeat #00275c;
}