.btn-slider_right {
  background-image: url(../../../images/btn-images/arrow_forward-white.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 16px 16px;
}

.btn-slider_right:hover {
  background: #4183dc;
  background-image: url(../../../images/btn-images/arrow_forward-white.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.btn-slider_right:active {
  background: #00275c;
  background-image: url(../../../images/btn-images/arrow_forward-white.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
