.btn-link_white-disabled {
  color: rgba(38, 38, 38, 0.5);
  background: url(../../../images/btn-images/arrow_forward-lgray.svg) 87% 50% /
    16px 16px no-repeat #fff;
}

.btn-link_white-disabled:hover {
  color: rgba(38, 38, 38, 0.5);
  background-image: url(../../../images/btn-images/arrow_forward-lgray.svg) 87%
    50% / 16px 16px no-repeat #fff;
}
