.news {
  position: relative;
  margin-top: 100px;
  padding-bottom: 76px;
}

@media screen and (max-width: 768px) {
  .news {
    margin-top: 50px;
  }
}

@media screen and (max-width: 320px) {
  .news {
    margin-top: 32px;
  }
}