.button-style__wrapper {
  display: flex;
  gap: 10px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0 auto;
  width: calc(100% - 80px);
  flex-direction: row;
  flex-wrap: wrap;
}

.button {
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  padding: 0 16px;
  display: flex;
  align-items: center;
  height: 48px;
  justify-content: center;
  user-select: none;
}

@media screen and (max-width: 768px) {
  .button {
    font-size: 16px;
    height: 44px;
  }
}

@media screen and (max-width: 320px) {
  .button {
    font-size: 14px;
    height: 44px;
  }
}

.button__primary {
  background-color: #0C4BA0;
  color: #fff;
  border: 1px solid #0C4BA0;
}

.button__primary:hover {
  background-color: #4183DC;
}

.button__primary:active {
  background-color: #00275C;
}

.button__primary:disabled {
  background-color: #F5F5F5;
  color: rgba(38, 38, 38, 0.5);
  cursor: default;
  border: 1px solid #c4c4c4;
}

.button__primary:disabled:hover {
  background-color: #F5F5F5;
  color: rgba(38, 38, 38, 0.5);
  cursor: default;
}

.button__secondary {
  color: #0C4BA0;
  border: 1px solid #0C4BA0;
  background-color: transparent;
}

.button__secondary:hover {
  color: #00275C;
  border: 1px solid #00275C;
}

.button__secondary:active {
  background-color: #00275C;
  color: #fff;
  border: 1px solid #00275C;
}

.button__secondary:disabled {
  background-color: #f5f5f5;
  color: rgba(38, 38, 38, 0.5);
  cursor: default;
}

.button__secondary:disabled:hover {
  background-color: #f5f5f5;
  color: rgba(38, 38, 38, 0.5);
  cursor: default;
}

.button__secondary-bg {
  color: #333;
  border: 1px solid #333;
  background-color: transparent;
}

.button__secondary-bg:hover {
  color: #00275C;
  border: 1px solid #00275C;
}

.button__secondary-bg:active {
  background-color: #333;
  color: #fff;
  border: 1px solid #333;
}

.button__secondary-bg:disabled {
  color: rgba(38, 38, 38, 0.5);
  background-color: #f5f5f5;
  border: 1px solid rgba(38, 38, 38, 0.5);
}

.button__link {
  border: none;
  padding: 0 10px;
  column-gap: 14px;
  color: #333;
  fill: #333;
  background-color: #fff;
}

.button__link:hover {
  color: #00275C;
  fill: #00275C;
}

.button__link:active {
  color: #0C4BA0;
  fill: #0C4BA0;
}

.button__link:disabled {
  background-color: #F5F5F5;
  color: rgba(38, 38, 38, 0.5);
  fill: rgba(38, 38, 38, 0.5);
  cursor: default;
}

.button__link:disabled:hover {
  background-color: #C4C4C4;
  color: rgba(38, 38, 38, 0.5);
  fill: rgba(38, 38, 38, 0.5);
  cursor: default;
}

@media screen and (max-width: 768px) {
  .button__link {
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .button__link {
    font-size: 14px;
    padding: 0 10px;
    height: 44px;
  }
}

.button__link_blue {
  background-color: #e7f0ff;
  color: #0c4ba0;
  fill: #0c4ba0;
}

.button__link_blue:hover {
  background-color: #0c4ba0;
  color: #fff;
  fill: #fff;
}

.button__link_blue:active {
  background-color: #00275c;
}

.button__link_green {
  background-color: #daefd5;
  color: #319B17;
  fill: #319B17
}

.button__link_green:hover {
  background-color: #319b17;
  color: #fff;
  fill: #fff
}

.button__link_green:active {
  background-color: #0e4900;
}

.button__link_orange {
  background-color: #feefea;
  color: #e98509;
  fill: #e98509;
}

.button__link_orange:hover {
  background-color: #e98509;
  color: #fff;
  fill: #fff
}

.button__link_orange:active {
  background-color: #864a00;
}

.button__link_violet {
  background-color: #eae6ff;
  color: #8b75ff;
  fill: #8b75ff
}

.button__link_violet:hover {
  background-color: #8b75ff;
  color: #fff;
  fill: #fff
}

.button__link_violet:active {
  background-color: #4935b5;
}

.button__slider {
  padding: 0 9px;
  border: none;
  color: #333;
  fill: #333;
  background-color: #fff;
  height: 35px;
  width: 35px;
}

@media screen and (max-width: 768px) {
  .button__slider {
    padding: 0 7px;
    height: 24px;
    width: 24px;
    border-radius: 6px;
  }
}

.button__slider:hover {
  color: #00275C;
  fill: #00275C;
}

.button__slider:active {
  color: #0C4BA0;
  fill: #0C4BA0;
}

.button__slider:disabled {
  background-color: #F5F5F5;
  color: rgba(38, 38, 38, 0.5);
  fill: rgba(38, 38, 38, 0.5);
  cursor: default;
}

.button__slider:disabled:hover {
  background-color: #C4C4C4;
  color: rgba(38, 38, 38, 0.5);
  fill: rgba(38, 38, 38, 0.5);
  cursor: default;
}

.button__slider_blue {
  background-color: #0C4BA0;
  fill: #fff;
}

.button__slider_blue:hover {
  background-color: #4183DC;
  fill: #fff;
}

.button__slider_blue:active {
  background-color: #00275C;
  fill: #fff
}

.button__slider_blue:disabled {
  background-color: #C4C4C4;
  fill: rgba(38, 38, 38, 0.5);
  cursor: default;
}

.button__slider_blue:disabled:hover {
  background-color: #C4C4C4;
  fill: rgba(38, 38, 38, 0.5);
  cursor: default;
}

.button__slider_black {
  background-color: #333;
  fill: #fff;
}

.button__slider_black:hover {
  background-color: #0C4BA0;
  fill: #fff;
}

.button__slider_black:active {
  background-color: #00275C;
  fill: #fff;
}

.button__slider_black:disabled {
  background-color: #C4C4C4;
  fill: rgba(38, 38, 38, 0.5);
  cursor: default;
}

.button__slider_black:disabled:hover {
  background-color: #C4C4C4;
  fill: rgba(38, 38, 38, 0.5);
  cursor: default;
}

.button__accordion {
  cursor: pointer;
  border-radius: 20px;
  line-height: 0;
  padding: 0 14px;
  border: none;
  background-color: #E7F0FF;
  stroke: #0C4BA0;
  height: 45px;
}

.button__accordion:hover {
  background-color: #0C4BA0;
  stroke: #fff
}

.button__accordion:active .icon__plus {
  background-color: #0C4BA0;
  stroke: #fff;
  transform: rotate(-45deg);
}

.button__accordion:disabled {
  background-color: #C4C4C4;
  stroke: rgba(38, 38, 38, 0.5);
  cursor: default;
}

.button__accordion:disabled:hover {
  background-color: #C4C4C4;
  stroke: rgba(38, 38, 38, 0.5);
  cursor: default;
}

.button__accordion:disabled:active .icon__plus {
  stroke: rgba(38, 38, 38, 0.5);
  transform: rotate(0);
  background-color: #C4C4C4;
}

@media screen and (max-width: 768px) {
  .button__accordion {
    padding: 0 10px;
    height: 32px;
  }
}

.button__white {
  background-color: #fff;
  border: 1px solid #fff
}

.button__white:hover {
  background-color: #fff;
  border: 1px solid #0C4BA0;
}

.button__white:active {
  background-color: #fff;
  border: 1px solid #0C4BA0;
}

.button__donate {
  background-color: #fff;
  border: 1px solid #DADADA;
  color: #333;
}

.button__donate:hover {
  border: 1px solid #0C4BA0;
}

.button__donate:active {
  border: 1px solid #0C4BA0;
}

.button__donate:disabled {
  background-color: #f5f5f5;
  cursor: default;
  border: 1px solid #C4C4C4
}

.button__donate:disabled:hover {
  background-color: #f5f5f5;
  cursor: default;
  border: 1px solid #C4C4C4
}

.button__donate_acitve {
  border: 1px solid #0C4BA0;
}

.button__question {
  width: 10px;
  height: 10px;
  background-color: #0C4BA0;
  padding: 0 3px;
  border: none;
  color: #fff;
  font-size: 6px;
}

.button__question:hover {
  background-color: #4183DC;
}

.button__question:active {
  background-color: #00275C;
}

.button__question:disabled {
  background-color: #C4C4C4;
  cursor: default;
}