.stories {
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 320px) {
  .stories {
    margin: auto 9px;
  }
}