.stories {
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .stories {
    margin-top: 100px;
  }
}

@media screen and (max-width: 320px) {
  .stories {
    margin: 64px 9px 0 9px;
  }
}